@font-face {
  font-family: 'Gonzaga-Trial-Black';
  src: url('https://github.com/jeromegagnon/fete-agathe/raw/main/fonts/Gonzaga-Trial-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gonzaga-Trial-Black', sans-serif !important;
}
